<h1>Your Stats, <%= @user.fullname %></h1>
<img src="">

<div>
	<p>Your steps for today: <%= @user.get_most_recent_steps %></p>

</div>

<div>
	<p>Your distance for today: <%= @user.get_most_recent_distance %></p>
</div>

<div>
	<p>Your active time for today: <%= @user.get_most_recent_active_time %> </p>
</div>

<div>
	<p>Your TOTAL steps for this week: <%=  %> </p>
</div>

<div>
	<p>Your TOTAL distance for this week: <%=  %> </p>
</div>

<div>
	<p>Your TOTAL active time for this week: <%=  %> </p>
</div>

<p><%= link_to 'Edit my profile', edit_user_path %></p>