<div id="challenge_partial">
    <%= link_to 'View Stats', user_challenge_path(@user.id, challenge.id) %>

    <% if get_winner(challenge) %>
      <p>Winner: <%= get_winner(challenge).fullname %> </p>
    <% else %>
      <p>Front Runner: <%= get_front_runner(challenge).fullname %></p>
    <% end %>
   <div id="content-1">
    <h3><%= challenge.user.fullname %></h3>
    <%= image_tag('hero.png', class: 'thumbnail') %>
  </div>
  <div id="content-2">
    <div id="content-2-1">
      <h1>VS.</h1>
      <h3>Points: <%= challenge.user_points %></h3>
      <h3>Challenger's points: <%= challenge.total_points - challenge.user_points %></h3>
    </div>
    <div id="content-2-2">
      <h3><%= challenge.challenger.fullname %></h3>
      <%= image_tag('challenger.png', class: 'thumbnail') %>
    </div>
  </div>
</div>
