<div id="challenge_partial">
    <%= link_to 'View Stats', user_challenge_path(@user.id, challenge.id) %>

    <% if get_winner(challenge) %>
      <h1 style="color:orange">Winner: <%= get_winner(challenge).fullname %> </h1>
    <% else %>
      <h1 style="color:orange">Front Runner: <%= get_front_runner(challenge).fullname %></h1>
    <% end %>
   <div id="content-1">
    <h1><%= challenge.user.fullname %></h1>
    <%= image_tag('hero.png', class: 'thumbnail') %>
  </div>
  <div id="content-2">
    <div id="content-2-1">
      <h1>VS.</h1>
      <p>Points: <%= challenge.user_points %></p>
      <p>Challenger's points: <%= challenge.total_points - challenge.user_points %></p>
    </div>
    <div id="content-2-2">
      <h1><%= challenge.challenger.fullname %></h1>
      <%= image_tag('challenger.png', class: 'thumbnail') %>
    </div>
  </div>
</div>
