<h1>Challenges</h1>
<%= link_to 'New Challenge', new_user_challenge_path %>
<% @user.challenges.each do |challenge| %>
  <p><%=challenge.user.fullname%>User</p>
  <p><%=challenge.user_points%>User Points</p>
  <p><%=challenge.challenger_id%>Challenger</p>
  <p><%=challenge.challenger_points%>Challenger Points</p>
<% end %>