<h1> Challenge </h1>

<h2> YOU ARE: <%= @challenge.user.fullname %><h2>

<ul>
	<li>start: <%= @challenge.start_date %> end: <%= @challenge.end_date %></li>
</ul>

<h1> Most recent steps: <%= @user.get_most_recent_steps %>, Challenger's recent steps: <%= @challenger.get_most_recent_steps %> <h1>

