<script>
	$(document).ready(function() {
		var challenger_name = "<%= @challenger.fullname %>"
		var challenger_points = <%= @challenge.user_points(@challenger) %>
		var user_name = "<%= @user.fullname %>"
		var user_points = <%= @challenge.user_points(@user) %>
		var data = [{'label': challenger_name, 'value': challenger_points}, {'label': user_name, 'value': user_points}]
		var user_steps = <%= @challenge.user_step_array %>;
		var user_distance = <%= @challenge.user_distance_array %>;
		var user_active_time = <%= @challenge.user_active_time_array %>;
		var challenger_steps = <%= @challenge.challenger_step_array %>;
		var challenger_distance = <%= @challenge.challenger_distance_array %>;
		var challenger_active_time = <%= @challenge.challenger_active_time_array %>;
		pie_chart(data);
		line_chart(user_steps, 1);
		line_chart(user_distance, 2);
		line_chart(user_active_time, 3);
		line_chart(challenger_steps, 4);
		line_chart(challenger_distance, 5);
		line_chart(challenger_active_time, 6);
	});
</script>

<h1> Challenge Dashboard</h1>
<h2> Your points = <%= @challenge.user_points(@user) %>
<h2> <%= @challenger.fullname %>'s points = <%= @challenge.user_points(@challenger) %>
<h2> <%= @user.fullname %> V. <%= @challenger.fullname %></h2>
<div id="pi"></div>

<% if get_winner(@challenge) %>
	<p>Winner: <%= get_winner(@challenge).fullname %> </p>
<% else %>
	<p>Front Runner: <%= get_front_runner(@challenge).fullname %></p>
<% end %>

	<h3>start: <%= @challenge.start_date %> end: <%= @challenge.end_date %></h3>

<h2> TOTAL STATS: </h2>
<ul>
	<li> Total steps: <%= @challenge.user_total_steps %> </li>
		<p><%= @challenger.fullname %>'s total steps: <%= @challenge.challenger_total_steps %> </p>
	<li> Total distance: <%= @challenge.user_total_distance %></li>
		<p> <%= @challenger.fullname %>'s total distance: <%= @challenge.challenger_total_distance %> </p>
	<li> Total active time: <%= @challenge.user_total_active_time %></li>
		<p><%= @challenger.fullname %>'s total active time: <%= @challenge.challenger_total_active_time %> </p>
</ul>

<h2> BY DATE: </h2>
	<div id="holder">
		<div id="left_user">
			<h1><%= @user.fullname %></h1>
			<h2>Steps:</h2>
			<div id="li1"></div>
			<h2>Distance (in miles):</h2>
			<div id="li2"></div>
			<h2>Very Active Time (in minutes):</h2>
			<div id="li3"></div>
		</div>
		<div id="right_challenger">
			<h1><%= @challenger.fullname %></h1>
			<h2>Steps:</h2>
			<div id="li4"></div>
			<h2>Distance (in miles):</h2>
			<div id="li5"></div>
			<h2>Very Active Time (in minutes):</h2>
			<div id="li6"></div>
		</div>
	</div>