<h1> Challenge Dashboard</h1>

<h2> <%= @user.fullname %> V. <%= @challenger.fullname %></h2>

	<h3>start: <%= @challenge.start_date %> end: <%= @challenge.end_date %></h3>

<h2> TOTAL STATS: </h2>

<ul>
	<li> Total steps: <%= @challenge.user_total_steps %> </li>

		<p><%= @challenger.fullname %>'s total steps: <%= @challenge.challenger_total_steps %> </p>

	<li> Total distance: <%= @challenge.user_total_distance %>

		<p> <%= @challenger.fullname %>'s total distance: <%= @challenge.challenger_total_distance %> </p>

	<li> Total active time: <%= @challenge.user_total_active_time %></li>

		<p><%= @challenger.fullname %>'s total active time: <%= @challenge.challenger_total_active_time %> </p>
</ul>

<h2> BY DATE: </h2>
	<% @challenge.user_workouts.each do |workout| %>
	
		<h3>On <%= workout.date %></h3>
<table>
	<tr>		
			<td><%= @user.fullname %>:</td>
			<td>Steps: <%= workout.steps %></td>
			<td>Distance: <%= workout.distance %></td>
			<td>Active Time: <%= workout.active_time %></td>
		<% end %>
	</tr>
	<tr>
			<td><%= @challenge.challenger.fullname %>:</td>
		<% @challenge.challenger_workouts.each do |workout| %>
			<td>Steps: <%= workout.steps %></td>
			<td>Distance: <%= workout.distance %></td>
			<td>Active Time: <%= workout.active_time %></td>
		<% end %>
	</tr>
</table>


