<h1> Challenge </h1>

<h2> YOU ARE: <%= @challenge.user.fullname %><h2>

<ul>
	<li>start: <%= @challenge.start_date %> end: <%= @challenge.end_date %></li>
</ul>

<h1> Your steps today: <%= @user.daily_workouts.first.step %>, Challengers steps today: <%= @challenger.daily_workouts.first.step %>